name: PR verify

on: 
    pull_request:
        branches:
            - main

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Check PR name
        id: check-pr-name
        run: | # PRs should have a tag name like: "[JIRA-ID] JIRA SUMMARY" (see documentation at: https://github.com/inditex/srv-wmseshp/blob/develop/CONTRIBUTING-JIRA.md#creating-a-pull-request)
            if [[ "${{ github.event.pull_request.title }}" =~ ^\[[A-Z0-9a-z]{1,10}-[1-9][0-9]*\].*$ ]]; then
                echo ::set-output name=match::true
            fi
      - name: Create comment if PR naming is incorrect.
        uses: actions/github-script@v4
        if: steps.check-pr-name.outputs.match != 'true'
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const fs = require('fs')
            const issueBody = fs.readFileSync(".github/PR_RESPONSES/incorrect_pr_name.md", "utf8")
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: issueBody
            })
      - name: Check branch name
        id: check-branch-name
        run: | # branches should have a name like: hotfix/JIRA-ID (see documentation at: https://github.com/inditex/srv-wmseshp/blob/develop/CONTRIBUTING-JIRA.md#branching-strategy )
            if [[ "${{ github.event.pull_request.head.ref }}" =~ ^(release|feature|bugfix|revert|hotfix|config)\/[A-Z0-9a-z]{1,10}-[1-9][0-9]*.*$ ]]; then
                echo ::set-output name=match::true
            fi
      - name: Create comment if branch naming is incorrect.
        uses: actions/github-script@v4
        if: steps.check-branch-name.outputs.match != 'true'
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const fs = require('fs')
            const issueBody = fs.readFileSync(".github/PR_RESPONSES/incorrect_branch_name.md", "utf8")
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: issueBody
            })
            
            
